{% extends 'students/base.html' %}

<title>
    {% block title %}
        Grades
    {% endblock %}
</title>

{% block content %}

<div class="container my-2">
    <div id="contentwrapper">
        <div id="content">
        
            <div class="container my-2">
                <div id="contentwrapper">
                    <div id="content"><br/>
                        <h2>Grade Detail</h2>
                        <hr>
                        <div id="grades">
                            <p>Quiz Title: {{ grade.quiz.title }}</p>
                            <p>Percentage: {{ grade.grade }}%</p>
                            <p>You have 0 attempts left.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}