{% extends "students/base.html" %}

<title>
    {% block title %}
        Posts
    {% endblock %}
</title>


{% block content %}
<br/>
<div class="container my-2">
<h1>Posts</h1>
<br/>

<a href="{% url 'students:add_post' course_id=course.id %}" class="btn btn-secondary">Add Post</a>
<br/>

<ul id="article-detail">
    <br/>
{% for post in object_list %}
    
        <strong><a href="{% url 'students:article-detail' post.id %}">{{ post.title }}</a></strong> -
        {{ post.author.first_name }} 
        {{ post.author.last_name }} - {{ post.post_date }} <small>
            
           
            {% if user.id == post.author.id %} 
            - <a href="{% url 'students:update_post' post.pk %}">(Edit)</a> 
            <a href="{% url 'students:delete_post' post.pk %}">(Delete)</a> 
            {% endif  %}

        </small><br/>
        {{ post.snippet }}
    
    <hr>
{% endfor %}
</ul>
</div>
{% endblock %}
