{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px
  }
</style>  

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'teachers:main' %}">The Education Today</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'teachers:courses' %}">Courses</a>
        </li>
        

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'teachers:edit_profile' %}">Edit Profile</a>
        </li>
      </ul>

      <form class="d-flex" method="POST" action="{% url 'teachers:search' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </form>

    </div>
    {% if user.is_authenticated %}
    <span class="hello-msg"> Hello, {{request.user}} </span>
    <span><a class="hello-msg" href="{% url 'account:signout' %}">Logout</a></span>
    
    {% endif %}

  </nav>